# ESA 5 - Aufgabe 1
Write a Python / Panda Script which 'cleans' this data set. Justify your actions in the respective notebook or python script you provide as a solution (link, file, kaggle repo, etc.).

The original dataset does not necessarily have to be created. A proper strategy / good arguments are more important

## Schritt 1: Erstmal angucken

In [104]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
url = 'https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv' #https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv'
df = pd.read_csv(url)
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ok. Zeile 17 und 22 sind komplett leer - die können wir ja schonmal löschen

In [117]:
df.dropna(how='all', inplace=True)
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

# Duplikate entfernen
Schön. Weiter gehts. (Fast) jeder hat ja eine Email-Adresse - und diese sollte einzigartig sein. Da checken wir direkt doch mal, ob welche doppelt vorkommen und können diese löschen.

In [118]:
duplicateEmails = df[df.duplicated('email')]
duplicateEmails

      id  full_name first_name last_name                email  gender age
15  16.0  Eden Wace       Eden      Wace  ewacee@marriott.com  Female  16

Okay. Der Eintrag wird gelöscht.

In [119]:
# remove duplicates
df.drop_duplicates('email')

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

## Leere Felder
Wir schauen uns an, wie viele leere Felder es gibt und was man dagegen machen kann.

In [120]:
df.isnull().sum()

id            1
full_name     0
first_name    0
last_name     0
email         1
gender        1
age           0
dtype: int64

Insgesamt sind nur drei Felder leer. Das gucken wir uns genauer an. 
### IDs
Hierbei stellt sich die Frage, ob man die Spalte komplett löscht (Relevanz? Prinzipiell können auch neue IDs generiert werden) oder ob man eine freie, valide ID vergibt. In diesem Fall entscheiden wir uns einfach dafür, die Spalte zu löschen.

In [121]:
df.drop(columns="id", inplace=True)

In [122]:
df

,full_name,first_name,last_name,email,gender,age
0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

## Leere Felder
Es bleiben noch je ein leeres Feld bei gender und age. Je nachdem, was später mit den Daten geschehen soll, können sind verschiedene Vorgehen möglich:
- Die jeweilige Reihe löschen (Daten gehen verloren)
- Beim gender: Ermitteln, welches Geschlecht wahrscheinlich ist bei dem Vornamen und dieses annehmen
- Auf einen anderen Wert setzen (z. B. den aus der darauffolgenden Spalte übernehmen)
- Daten leer lassen

## Nächster Schritt: Fehlerhafte Daten
Die Spalte "age" sollte ausschließlich Zahlen im Bereich von 0 bis 120 enthalten.

In [123]:
df['age']

0      60
1      12
2      26
3       4
4      17
5      77
6      25
7      77
8      45
9     old
10      6
11     16
12     91
13     22
14     16
15     16
16      2
18    -78
19     65
20     45
21     72
Name: age, dtype: object

Das betrifft den Eintrag 'old' und den Eintrag '-78'. Hier kann 
Wir erzeugen eine neue Spalte 'age_parsed', in der die Werte von object zu numeric konvertiert werden.

In [124]:
df['age_parsed'] = pd.to_numeric(df['age'], errors='coerce')
df

,full_name,first_name,last_name,email,gender,age,age_parsed
0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60,60.0
1,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12,12.0
2,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26,26.0
3,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4,4.0
4,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17,17.0
5,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77,77.0
6,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25,25.0
7,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77,77.0
8,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45,45.0
9,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old,NaN
10,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6,6.0
11,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16,16.0
12,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91,91.0
13,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22,22.0
14,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16,16.0
15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16,16.0
16,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2,2.0
18,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78,-78.0
19,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65,65.0
20,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45,45.0
21,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72,72.0

Wir überprüfen im folgenden, welche Werte außerhalb des Wertebereichs liegen (Alter darf nur zwischen 0 und 120 liegen).

In [125]:
df[(df['age_parsed'] < 0) | (df['age_parsed'] > 120)]

,full_name,first_name,last_name,email,gender,age,age_parsed
18,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78,-78.0

Das ist nur ein Eintrag. Hier kann man annehmen, dass es sich um einen Fehler handelt und Clair Skillern tatsächlich 78 ist. Das können wir also ändern.

In [148]:
df.loc[df['age_parsed'] < 0, 'age_parsed'] *= -1
df

,first_name,last_name,email,gender,age_parsed
0,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60.0
1,Kenyon,Possek,kpossek1@ucoz.com,Male,12.0
2,Lalo,Manifould,lmanifould2@pbs.org,Male,26.0
3,Nickola,Carous,ncarous3@phoca.cz,Male,4.0
4,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17.0
5,Hasty,Perdue,hperdue5@qq.com,NaN,77.0
6,Franz,Castello,fcastello6@1688.com,Male,25.0
7,Jorge,Tarney,jtarney7@ft.com,Male,77.0
8,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45.0
9,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,NaN
10,Palm,Domotor,pdomotora@github.io,Male,6.0
11,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16.0
12,Modestia,Keble,mkeblec@cmu.edu,Female,91.0
13,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22.0
14,Eden,Wace,ewacee@marriott.com,Female,16.0
15,Eden,Wace,ewacee@marriott.com,Female,16.0
16,Tobias,Sherburn,tsherburnf@facebook.com,Male,2.0
18,Clair,Skillern,cskillerng@nih.gov,Male,78.0
19,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65.0
20,Kerianne,Goacher,NaN,Female,45.0
21,Maurits,Shawl,mshawlj@dmoz.org,Male,72.0

## Sonstiges: Redundate Daten
Die Spalte "fullname" enthält die Kombination der Spalten "firstname" und "lastname", ist also redundant. Diese kann also ohne Verlust entfernt werden. Außerdem können wir die Spalte age entfernen.

In [127]:
df.drop(columns=['full_name', 'age'], inplace=True)

In [149]:
df

,first_name,last_name,email,gender,age_parsed
0,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60.0
1,Kenyon,Possek,kpossek1@ucoz.com,Male,12.0
2,Lalo,Manifould,lmanifould2@pbs.org,Male,26.0
3,Nickola,Carous,ncarous3@phoca.cz,Male,4.0
4,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17.0
5,Hasty,Perdue,hperdue5@qq.com,NaN,77.0
6,Franz,Castello,fcastello6@1688.com,Male,25.0
7,Jorge,Tarney,jtarney7@ft.com,Male,77.0
8,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45.0
9,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,NaN
10,Palm,Domotor,pdomotora@github.io,Male,6.0
11,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16.0
12,Modestia,Keble,mkeblec@cmu.edu,Female,91.0
13,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22.0
14,Eden,Wace,ewacee@marriott.com,Female,16.0
15,Eden,Wace,ewacee@marriott.com,Female,16.0
16,Tobias,Sherburn,tsherburnf@facebook.com,Male,2.0
18,Clair,Skillern,cskillerng@nih.gov,Male,78.0
19,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65.0
20,Kerianne,Goacher,NaN,Female,45.0
21,Maurits,Shawl,mshawlj@dmoz.org,Male,72.0